<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/parts/new" class="button">Add New Part</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Character</th>
                <th>Pin Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% parts.forEach(function(part) { %>
                <tr>
                    <td><%= part.name %></td>
                    <td><%= part.type %></td>
                    <td><%= characters.find(c => c.id === parseInt(part.characterId))?.char_name || 'N/A' %></td>
                    <td>
                        <% if (part.type === 'motor') { %>
                            Dir Pin: <%= part.directionPin %><br>
                            PWM Pin: <%= part.pwmPin %>
<<<<<<< HEAD
                        <% } else if (['light', 'led', 'servo', 'sensor'].includes(part.type)) { %>
=======
                        <% } else if (part.type === 'led') { %>
                            LED Pin: <%= part.ledPin %><br>
                            Duration: <%= part.duration %> ms
                        <% } else { %>
>>>>>>> 9b19dce4561b7ae51f3595b34732dfc153b51479
                            Pin: <%= part.pin %>
                        <% } %>
                    </td>
                    <td>
                        <a href="/parts/<%= part.id %>/edit" class="button">Edit</a>
                        <button onclick="deletePart(<%= part.id %>)" class="button">Delete</button>
                        <button onclick="testPart(<%= part.id %>, '<%= part.type %>')" class="button">Test</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/" class="button">Back to Main Menu</a>

    <script>
        function deletePart(id) {
            if (confirm('Are you sure you want to delete this part?')) {
                $.post('/parts/' + id + '/delete')
                    .done(function() {
                        location.reload();
                    })
                    .fail(function(xhr, status, error) {
                        console.error('Error details:', xhr.responseText);
                        alert('Error deleting part: ' + xhr.status + ' ' + xhr.statusText);
                    });
            }
        }

        function testPart(id, type) {
            let testData = { part_id: id, type: type };

            switch (type) {
                case 'motor':
                    testData.direction = 'forward';
                    testData.speed = 50;
                    testData.duration = 1000;
                    break;
                case 'light':
                    testData.state = 'on';
                    testData.duration = 1000;
                    break;
                case 'led':
                    testData.brightness = 50;
                    testData.duration = 1000;
                    break;
                case 'servo':
                    testData.angle = 90;
                    testData.speed = 50;
                    testData.duration = 1000;
                    break;
                default:
                    alert('Testing not implemented for this part type');
                    return;
            }

            $.post('/parts/test', testData)
                .done(function(response) {
                    if (response.success) {
                        alert('Test successful: ' + response.message);
                    } else {
                        alert('Test failed: ' + response.message);
                    }
                })
                .fail(function(xhr, status, error) {
                    console.error('Error details:', xhr.responseText);
                    alert('Error testing part: ' + xhr.status + ' ' + xhr.statusText);
                });
        }
    </script>
</body>
</html>
