<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST" enctype="multipart/form-data">
        <% if (sound.id) { %>
            <input type="hidden" name="id" value="<%= sound.id %>">
        <% } %>
        <div>
            <label for="name">Sound Name:</label>
            <input type="text" id="name" name="name" value="<%= sound.name || '' %>" required>
        </div>
        <div>
            <label for="sound_file">Sound File (MP3 or WAV):</label>
            <input type="file" id="sound_file" name="sound_file" accept=".mp3,.wav" <%= sound.id ? '' : 'required' %>>
        </div>
        <% if (sound.id && sound.filename) { %>
            <div>
                <p>Current file: <%= sound.filename %></p>
                <button type="button" onclick="playSound(<%= sound.id %>)">Play</button>
                <button type="button" onclick="stopSound()">Stop</button>
            </div>
        <% } %>
        <button type="submit">Save Sound</button>
    </form>
    <a href="/sounds" class="button">Back to Sounds</a>

    <script>
        function playSound(soundId) {
            $.get('/play-sound/' + soundId, function(data) {
                alert(data);
            }).fail(function() {
                alert('Error playing sound');
            });
        }

        function stopSound() {
            $.get('/stop-sound', function(data) {
                alert(data);
            }).fail(function() {
                alert('Error stopping sound');
            });
        }
    </script>
</body>
</html>
