<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/sounds/new" class="button">Add New Sound</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% sounds.forEach(function(sound) { %>
                <tr>
                    <td><%= sound.name %></td>
                    <td><%= sound.filename %></td>
                    <td>
                        <a href="/sounds/<%= sound.id %>/edit" class="button">Edit</a>
                        <button onclick="playSound(<%= sound.id %>)" class="button">Play</button>
                        <button onclick="stopSound()" class="button">Stop</button>
                        <button onclick="deleteSound(<%= sound.id %>)" class="button">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/" class="button">Back to Main Menu</a>

    <script>
        function playSound(soundId) {
            $.get('/play-sound/' + soundId, function(data) {
                alert(data);
            }).fail(function() {
                alert('Error playing sound');
            });
        }

        function stopSound() {
            $.get('/stop-sound', function(data) {
                alert(data);
            }).fail(function() {
                alert('Error stopping sound');
            });
        }

        function deleteSound(id) {
            if (confirm('Are you sure you want to delete this sound?')) {
                $.post('/sounds/' + id + '/delete', function() {
                    location.reload();
                }).fail(function() {
                    alert('Error deleting sound');
                });
            }
        }
    </script>
</body>
</html>
